@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

:root {
  --font-family: 'Castoro', sans-serif, PingFang, Microsoft JhengHei;
  --font-color: #000000;
  --font-color-danger: #AE0000;
}